.poll-block{
  text-align: center;
  margin: 20px 0px;
}

.avatar{
  width: "30%";
   height:"30%";
   margin-bottom: 20px;
}

.question-title{
  margin-bottom: 20px;
}

.btn-block{
  margin-bottom: 20px;
}